name: Create OneNote Notebook

on:
  schedule:
    # 周一、三、五 北京时间 10:37 (UTC 02:37)
    - cron: '37 2 * * 1,3,5'
    # 周二、四 北京时间 11:21 (UTC 03:21)
    - cron: '21 3 * * 2,4'
  workflow_dispatch:

jobs:
  create_notebook:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip' # 开启缓存，加速安装

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Python script
        run: python create_notebook.py
        env:
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
          TENANT_ID: ${{ secrets.TENANT_ID }}
          GRAPH_REFRESH_TOKEN: ${{ secrets.GRAPH_REFRESH_TOKEN }}
          # 下面这两个变量可选，如果不填代码里会默认使用北京坐标
          LATITUDE: ${{ secrets.LATITUDE }}
          LONGITUDE: ${{ secrets.LONGITUDE }}