name: Create OneNote Notebook

on:
  push:
    branches:
      - main
  watch:
    types: started
  pull_request:
    branches: [ main ]
  schedule:
    # ✅ 每个工作日（周一到周五）执行一次（北京时间 9:00，即 UTC 1:00）
    - cron: '0 1 * * 1-5'
    # ✅ 每个工作日（周一到周五）执行一次（北京时间 11:00，即 UTC 3:00）
    - cron: '0 3 * * 1-5'

    # ✅ 每周一执行一次（北京时间 12:00，即 UTC 4:00）
    - cron: '0 4 * * 1'

jobs:
  create_notebook:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests msal requests_oauthlib

      - name: Run Python script to create OneNote notebook
        run: |
          python create_notebook.py
        env:
          CLIENT_ID: ${{secrets.CLIENT_ID}}
          CLIENT_SECRET: ${{secrets.CLIENT_SECRET}}
          TENANT_ID: ${{secrets.TENANT_ID}}
          GRAPH_REFRESH_TOKEN: ${{ secrets.GRAPH_REFRESH_TOKEN }}
